@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: #F6F6F9;
    --foreground: 0 0% 3.9%;
    --primary: 243 75% 59%;
    --primary-foreground: 0 0% 98%;
  }
  body {
    @apply bg-[#F6F6F9] text-gray-900 antialiased;
  }
}
